body{
    background-color: white;
    width: 60%;
    margin: auto;
    padding-top:30px;
}

.action-btn{
    width:400px;
    height:400px;
    border-radius: 10px;
    border: 1px solid black;
    margin: 1px;
    padding: 1px;
    font-size:100px;
    font-weight: bold;
}
.action-btn:hover{
    background-color: grey;
}

.action-btn2{
    background-color: white;
    width:200px;
    border-radius: 10px;
    border: 1px solid black;
    margin: 1px;
    padding: 1px;
    font-size:20px;
    font-weight: bold;
}
.action-btn2:hover{
    background-color: lightgrey;
}